---
layout: default
---

<!--FACEBOOK SHARE SCRIPT -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=714982428573890";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--FACEBOOK SHARE SCRIPT ENDS-->


<!--TWiTTER SHARE SCRIPT -->
<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!--TWiTTER SHARE SCRIPT ENDS-->


<!--GOOGLE SHARE SCRIPT -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!--GOOGLE SHARE SCRIPT ENDS-->

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <i>{{ page.description }}</i>
  <br><hr>

  <article class="post-content">
    {{ content }}
  </article>
  <div class="fb-share-button" data-href="{{ page.url | prepend: site.baseurl }}" data-layout="button"></div>
  <a class="twitter-share-button" href="{{ page.url | prepend: site.baseurl }}" data-count="none">Tweet</a>
  <g:plus action="share" href="{{ page.url | prepend: site.baseurl }}"></g:plus>

</div>
